/*
These are the global COLOR styles for the entire site
Styles referring to local single pages or components should NEVER reside here
GNU General Public License v3.0 - [ github.com/mydogspies ]
*/

/* COLOR DEFAULTS */
$background-color-default: #F5DE69;
$text-color-default: #463C05;

$background-color-photo: #363017;
$text-color-photo: #D4D0BE;
