/*
These are the global exports to be used in JS files.
>> DO NOT IMPORT THIS FILE INTO ANOTHER SCSS FILE <<
Styles referring to local single pages or components should NEVER reside here
GNU General Public License v3.0 - [ github.com/mydogspies ]
*/

/* COLOR DEFAULTS */
$background-color-default: #F5DE69;
$text-color-default: #463C05;

$background-color-photo: #363017;
$text-color-photo: #D4D0BE;

$background-color-illustration: #F5DE69;
$text-color-illustration: #463C05;

$background-color-mixed: #F7EBB4;
$text-color-mixed: #534609;

$background-color-blog: #DED55F;
$text-color-blog: #413D0D;

$background-color-footer: #F5DE69;
$text-color-footer: #463C05;

:export {
  /* PAGE COLORS */
  backgroundColorDefault: $background-color-default;
  textColorDefault: $text-color-default;

  backgroundColorPhoto: $background-color-photo;
  textColorPhoto: $text-color-photo;

  backgroundColorIllustration: $background-color-illustration;
  textColorIllustration: $text-color-illustration;

  backgroundColorMixed: $background-color-mixed;
  textColorMixed: $text-color-mixed;

  backgroundColorBlog: $background-color-blog;
  textColorBlog: $text-color-blog;

  backgroundColorFooter: $background-color-footer;
  textColorFooter: $text-color-footer;
}
