/*
These are the "default" styles for the entire site
Styles referring to single pages or components should not reside here
GNU General Public License v3.0 - [ github.com/mydogspies ]
*/

@import 'src/styles/colors';
@import 'src/styles/fonts';

/* GLOBAL DEFAULTS */
body {
  font-family: $paragraph-font-default;
  font-weight: normal;
  background-color: $background-color-default;
  color: $background-text-default;
}
h1, h2, h3 {
  font-family: $header-font-default;
  font-weight: bold;
}
