/*
These are styles overriding the main global.scss file
This file should only contain overrides referring to the IndexPhoto
GNU General Public License v3.0 - [ github.com/mydogspies ]
*/
@import 'src/styles/colors';

.index-photo-container {
  height: 100vh;
  color: $text-color-photo;
}
body.out-of-focus {
  transition: background-color 0.4s ease-in;
  background-color: $background-color-default;
}

body.in-focus {
  transition: background-color 0.4s ease-in;
  background-color: $background-color-photo;
}
