/* DEV ONLY FOR CONSTRUCTION PAGE */

.dev-page-container {
  padding: 20px;
  font-family: sans-serif;
}

.dev-header-text {
  text-align: center;
}

.dev-header-small-text {
  text-align: center;
}

.dev-paragraph-text {
  text-align: center;
  margin: 20px 0;
}

.dev-footer-text {
  text-align: center;
  font-size: 10px;
}

.dev-logo {
  margin: 30px 0;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
