/*
These are styles overriding the main global.scss file
This file should only contain overrides referring to the IndexTop
GNU General Public License v3.0 - [ github.com/mydogspies ]
*/

.index-top-container {
    height: 100vh;
}
